.background-container{
    width: 100%;
    height: 100vh;
    background-image: url('/img1-bgd.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
